API_URL=
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_ENVIRONMENT=development
AUTH_ACCESS_COOKIE=pb_access
AUTH_REFRESH_COOKIE=pb_refresh
AUTH_REMEMBER_COOKIE=pb_remember
AUTH_COOKIE_SECURE=false
AUTH_COOKIE_SAMESITE=lax
AUTH_REFRESH_MAX_AGE_SECONDS=2592000
